@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,500&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
/*-----------------------------HEADER -----------------------*/
header {
    overflow: hidden;
    height:100vh;
} 

::-webkit-scrollbar{
    display: none;
}
header .nav-link {
    font-size: 1.3em;
    color:whitesmoke;
}
header {
    background-color: #f09a7f;
}
 header .nav-item:last-child {
    padding-right:2em;
 }
 header .nav-item {
    padding:0.9em;
 }
 nav {
    padding:2.2em ;
 }
header button {
    padding: 15px 30px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
   }
   
  header button:hover {
    letter-spacing: 3px;
    background-color: hsl(48, 88%, 57%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgba(134, 140, 136, 0.678) 0px 7px 29px 0px;
   }
   
   header  button:active {
    letter-spacing: 3px;
    background-color:  hsl(48, 88%, 57%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgba(134, 140, 136, 0.678) 0px 7px 29px 0px;
    transform: translateY(10px);
    transition: 100ms;
   }

 header .nav-link {
    position: relative;
}

 header .nav-link::after{
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color:chocolate;
    position: absolute;
    bottom: 0;
    left:0;
}
 header .nav-link:hover::after {
    opacity: 1;
}
   .main-btn {
    display: inline-block;
    border-radius:50px ;
    transition: all .4s ease-in-out;
    padding:10px 27px;
    background-color: transparent;
    border:2px solid gray;
    color:gray;
    font-weight: 500; 
    font-size:14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
  }
  .main-btn:hover {
    background-color:coral;
    border-color:coral;
    color:#fff;
  }

   /*---------- End of HEADER -----------------------*/


   /* -------------Headings, links , anchors -------------------*/
h2 {
    color:white ;
}
a{
    text-decoration:none;
    color:black;
}
li {
    list-style-type: none;
}
 /* ------------- End of Headings, links , anchors -------------------*/

  /* -----------------------------About Section -----------------------------*/
  .About-section ul.nav-pills {
    border:1px solid gray;
    border-radius:50px;
  }
 .About-section ul li .nav-link {
    border-radius: 50px;
    font-weight:500;
    transition: all 0.45s cubic-bezier(0,0,0.2,1);
    display: inline-block;
    color:gray;
    border:0;
 }
 .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
   background: rgb(123, 123, 123) !important; 
 }
    /* ----------------End of About Section ------------------*/


/*---------------------------Skills section ----------------------*/
.book {
    position: relative;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    background-color: whitesmoke;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;

  
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
  }
  .cover {
   
    position: absolute;
    background-color: lightgray;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-80deg);
  }
 .text {
    position: relative ;
    top:10%;
    right:30%;
    transform: translate(-50%,-50%); 
    text-align:center;
    color:#000;
}
.text h2 {
  color:#000;
}

.cover .text small {
    font-size: 18px;
    display: inline;
}
.circle {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle .points {
    width:3px;
    height:15px;
    background: #0007;
    position: absolute;
    border-radius: 3px;
    transform: rotate(calc(var(--i)*var(--rot))) translateY(-100px);
 
}
.points.marked {
    animation: glow 0.04s linear forwards;
    animation-delay: calc(var(--i)*0.05s);
}
@keyframes glow 
{
    0% {
        background: #0007;
        box-shadow: none;
    }
  
    100% {
        background: var(--bgColor);
        box-shadow:var(--bgColor);
    }

}

/*--------------------------end of skills ----------------------- */



/*---------------Reviews---------*/


/*---------------End of Reviews---------*/

/*-------------------Footer------------------------*/

.footer {
	background: #7575a3;
	padding:75px 0;
	
}
.box-container {
  max-width:1200px;
	margin:auto;
}

.footer-col {
	width:25%;
	padding: 0 25px;
}
.footer-col ul {
    list-style:none;
}
.footer-col h3 {
	font-size:26px;
	color:#fff;
	text-transform:capitalize;
	margin-bottom:35px;
	font-weight:500;
	position:relative;
}
.footer-col h3::before{
	content:'';
	position:absolute;
	left:0;
	bottom:-10px;
	background-color:#f89e02; 
	height:3px;
	box-sizing:border-box;
    width:50px;
	
}
.footer-col ul li:not(:last-child){
	margin-bottom:10px;
}
.footer-col ul li a { 
   font-size:18px;
   text-transform:capitalize;
   color:#fff;
   text-decoration:none;
   font-weight:300;
   color:#bbbbbb;
   gap:1.2rem;
   display:block;
   transition: all 0.3s ease;
}
.footer-col ul li a:hover {
	color:#fff;
	padding-left:8px;	
}
.footer-col .socials a {
	display:inline-block;
	height:40px;
	width:40px;
	background-color:rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align:center;
	line-height:40px;
	border-radius:50%;
	color:#fff;
	transition: all 0.5s ease;
}
.footer-col .socials a:hover {
	color:#24262b;
	background-color:#fff;
    
}
.Footer .credit {
	text-align:center;
	font-size:1.3rem;
	border-top:1px solid white;
	padding:1rem;
	padding-top:2rem;
	margin-Top:2rem;
	color:white;	
}
.Footer .credit span {
	color:orange; 
}

/*-------------------End of Footer------------------------*/
